---
layout: default
title: "Home"
permalink: /
header_title: "Distributed Search Demo"
header_subtitle: "The web app"
---

<h2>Hi there!</h2>

<p>Login or register an account to be able to buy some tickets</p>

<a class="pure-button pure-button-primary" href="{{ '/login/' | relative_url }}">
  Register account
</a>
