---
layout: default
title: "Login"
permalink: /login/
header_title: "Login"
header_subtitle: ""
import_js:
- login
---

<form class="pure-form" id="loggedin-form" style="display:none">
    <fieldset>
        <div class="pure-control-group">
          <span>You are already logged in as:</span>
          <span id="loggedin-email" style="font-weight:bold"></span>
        </div>
        <div class="pure-control-group" style="margin-top:10px">
          <a class="pure-button pure-button-primary" href="{{ '/search/' | relative_url }}">
            Search tickets
          </a>
        </div>
        <div class="pure-control-group" style="margin-top:10px">
          <button onclick="logOutSubmit()" type="submit" class="pure-button">Log out</button>
        </div>
    </fieldset>
    <span class="pure-form-message-inline" id="logout-msg"></span>
</form>
<div class="pure-g" id="singin-form">
    <div class="pure-u-1 pure-u-sm-1-2">
      <form class="pure-form pure-form-stacked">
          <fieldset>
              <legend>Sign in</legend>
              <label for="signin-email">Email</label>
              <input type="email" id="signin-email" placeholder="Email" />

              <label for="signin-password">Password</label>
              <input type="password" id="signin-password" placeholder="Password" />

              <button onclick="signInSubmit()" type="submit" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
          <span class="pure-form-message-inline" id="signin-msg"></span>
      </form>
    </div>
    <div class="pure-u-1 pure-u-sm-1-2">
      <form class="pure-form pure-form-stacked">
          <fieldset>
              <legend>Register</legend>
              <label for="register-email">Email</label>
              <input type="email" id="register-email" placeholder="Email" />

              <label for="register-password">Password</label>
              <input type="password" id="register-password" placeholder="Password" />

              <button onclick="registerSubmit()" type="submit" class="pure-button pure-button-primary">Register</button>
          </fieldset>
          <span class="pure-form-message-inline" id="register-msg"></span>
      </form>
    </div>
</div>
