---
layout: default
title: "Payment"
permalink: /payment/
header_title: "Payment"
header_subtitle: "Now its time to reserve yout ticket!"
import_aws: true
import_js:
- payment
---

<div id="payment-values">
  <h4>You are about to purchase the following ticket:</h4>

  <div class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
          <label>Origin</label>
          <span class="field-value" id="origin"></span>
      </div>
      <div class="pure-control-group">
          <label>Destination</label>
          <span class="field-value" id="destination"></span>
      </div>
      <div class="pure-control-group">
          <label>Departure date</label>
          <span class="field-value" id="departure-date"></span>
      </div>
      <div class="pure-control-group">
          <label>Arrival date</label>
          <span class="field-value" id="arrival-date"></span>
      </div>
      <div class="pure-control-group">
          <label>Passengers</label>
          <span class="field-value" id="passengers"></span>
      </div>
      <div class="pure-control-group">
          <label>Price</label>
          <span class="field-value" id="price"></span>
      </div>
    </fieldset>
  </div>
  <div class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
          <label for="card-number">Card number</label>
          <input type="text" name="card-number" id="card-number" placeholder="1234 5678 9102 3456" />
          <span class="pure-form-message-inline">Required field</span>
      </div>
      <div class="pure-control-group">
          <label for="card-name">Name on card</label>
          <input type="text" name="card-name" id="card-name" placeholder="John Doe" />
          <span class="pure-form-message-inline">Required field</span>
      </div>
      <div class="pure-control-group">
        <label for="card-expiry">Expiry date</label>
        <input type="text" name="card-expiry" id="card-expiry" placeholder="01/21" style="width:80px" maxlength="5" />
        <span class="pure-form-message-inline">Required field</span>
      </div>
      <div class="pure-control-group">
        <label for="card-code">Security code</label>
        <input type="text" name="card-code" id="card-code" placeholder="***" maxlength="3" style="width:80px" />
        <span class="pure-form-message-inline">Required field</span>
      </div>
      <div class="pure-controls" id="card-msg-warapper" style="display:none">
        <span class="pure-form-message-inline" id="card-msg"></span>
      </div>
      <div class="pure-controls">
          <button id="purchase-button" type="button" onclick="purchaseClick()" class="pure-button button-success">Purchase</button>
          <img id="purchase-loading" class="loading-gif" src="{{ 'assets/img/loading.gif' | relative_url }}" width="20px" style="display:none">
          <span id="purchase-loading-msg" class="pure-form-message-inline"></span>
      </div>
    </fieldset>
  </div>
</div>

<div id="payment-success" style="display:none">
  <h4>Purchase complete!</h4>
  <p>The ticket has been sent to your email address</p>
</div>
