---
layout: default
title: "Search"
permalink: /search/
header_title: "Search"
header_subtitle: "Here you can search for tickets"
import_datepicker: true
import_selectpure: true
import_aws: true
import_js:
- search
---

<h4 id="login-warning" style="color: orange;text-align:center"></h4>

<!-- https://purecss.io/forms/ -->
<form id="search-form" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Start date</label>
            <input type="text" name="start-date" id="start-date" placeholder="Select" />
            <span class="pure-form-message-inline">Required field</span>
        </div>
        <div class="pure-control-group">
            <label for="aligned-password">Return date</label>
            <input type="text" name="end-date" id="end-date" placeholder="Select" />
        </div>
        <div class="pure-control-group select-group">
          <label for="origin-select">Origin</label>
          <span id="origin-select" class="select-warapper"></span>
          <span class="pure-form-message-inline">Required field</span>
        </div>
        <div class="pure-control-group select-group">
          <label for="destination-select">Destination</label>
          <span id="destination-select" class="select-warapper"></span>
          <span class="pure-form-message-inline">Required field</span>
        </div>
        <div class="pure-control-group select-group">
          <label for="passengers">Passengers</label>
          <input style="width: 80px;" type="number" name="passengers" id="passengers" placeholder="#" />
          <span class="pure-form-message-inline">Required field</span>
        </div>
        <div class="pure-controls" id="search-msg-warapper" style="display:none">
          <span class="pure-form-message-inline" id="search-msg"></span>
        </div>
        <div class="pure-controls">
            <button id="search-button" type="submit" onclick="searchClick()" class="pure-button pure-button-primary">Search</button>
            <img id="results-loading" class="loading-gif" src="{{ 'assets/img/loading.gif' | relative_url }}" width="20px" style="display:none">
        </div>
    </fieldset>
</form>

<table id="search-results" class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>#</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Price</th>
            <th>Source</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<img id="reserve-loading-template" class="loading-gif" src="{{ 'assets/img/loading.gif' | relative_url }}" width="20px" style="display:none">

<h4 id="results-msg" style="display:none"></h4>

<script type="text/javascript">
  var example_search_response = {{site.data.example_search_response | jsonify}}
  var amadeusLogoPath = "{{ 'assets/img/amadeus.png' | relative_url }}"
  var sabreLogoPath = "{{ 'assets/img/sabre.png' | relative_url }}"
</script>
