<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" href="{{ "favicon.ico" | relative_url }}"  type="image/icon type">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ "/assets/css/side-menu.css" | relative_url }}">
<!-- https://purecss.io/ -->
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
{% if page.import_datepicker %}
<!-- https://mymth.github.io/vanillajs-datepicker/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker.min.css">
{% endif %}
{% if page.import_selectpure %}
<!-- https://github.com/dudyn5ky1/select-pure/blob/master/examples/index.html -->
<link rel="stylesheet" href="{{ "/assets/css/select-pure.css" | relative_url }}">
{% endif %}
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
