<script type="text/javascript" src="{{ "/assets/js/ui.js" | relative_url }}"></script>

{% if page.import_datepicker %}
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker.min.js"></script>
{% endif %}

{% if page.import_selectpure %}
  <script src="https://unpkg.com/select-pure@latest/dist/bundle.min.js"></script>
  <script type="text/javascript">
    var iata_codes = [
      {% for iata_code in site.data.iata_codes %}
        { value: "{{iata_code.code}}", label: "{{iata_code.city}}, {{iata_code.country}}, {{iata_code.code}}" },
      {% endfor %}
    ]
  </script>
{% endif %}

{% if page.import_aws %}
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.855.0.min.js"></script>
  <script type="text/javascript" src="{{ "/assets/js/aws.js" | relative_url }}"></script>
{% endif %}


{% if page.import_js %}
    {% for js_file in page.import_js %}
      {% assign js_path = "/assets/js/" | append: js_file | append: ".js" %}
      <script type="text/javascript" src="{{ js_path | relative_url }}"></script>
    {% endfor %}
{% endif %}
