<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="#company">Menu</a>
        <ul class="pure-menu-list">
          {% assign base_css_class = "pure-menu-item" %}
          {% for nav in site.data.nav %}
            {% assign css_class = base_css_class %}
            {% if page.permalink == nav.url %}
              {% capture css_class %}{{css_class | append: ' pure-menu-selected' }}{% endcapture %}
            {% endif %}
            {% if nav.divided %}
              {% capture css_class %}{{css_class | append: ' menu-item-divided' }}{% endcapture %}
            {% endif %}
            <li class="{{css_class}}">
                <a href="{{ nav.url | relative_url }}" class="pure-menu-link">{{nav.title}}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>
