---
---

@import "main";

/* https://purecss.io/buttons/#customizing-buttons */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.content{
  padding-top: 10px
}

#search-results{
  width: 100%
}

.button-reserve {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.select-group{
  display: flex;
  align-items: center;
  justify-content: start;
}
@media only screen and (max-width :480px) {
 .select-group {
   display: initial;
 }
}
.select-warapper{
  display: inline-block;
  width: 60%;
}

#payment-values .field-value{
  color: #1f8dd6;
  font-weight: bold;
  /* copy from .pure-form-aligned .pure-control-group label */
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 0 0;
}

#results-msg {
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

.loading-gif{
  position: relative;
  top: 5px;
  margin-left: 4px;
}
