<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- from https://github.com/pure-css/pure/blob/master/site/static/layouts/side-menu/index.html -->
    <div id="layout">
      {% include menu.html %}
      <div id="main">
        <div class="header">
            <h1>{{ page.header_title }}</h1>
            <h2>{{ page.header_subtitle }}</h2>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
